.block{
    display:flex;
    justify-content:center;
    color: white; /* Цвет текста */
    padding-top:20px;
    padding-bottom: 20px;
border-bottom: solid 2px;

}
.block:hover{
    border-color:red;
    font-size:20px;
}