
nav {
  width:100%;
  position: relative;
  background-color: rgb(37, 85, 216);
  height:80px;

}

.btn {
  position: absolute;
  background-color: rgb(37, 85, 216);
  color: white;
  border: none;
  font-size: 27px;
  padding: 15px;
  top: 0;
  right:0;
  cursor: pointer;
justify-content: center;
}

.btn:hover{

color:red;
border:2px solid;
border-radius: 50%;

}

.leftBar {
  display: block;
  width: 300px;
  height: 1000px;
  background-color: rgb(11, 11, 58);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); 
}

/* Добавьте стили для анимации */
.leftBarAnimation-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.leftBarAnimation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.leftBarAnimation-exit {
  opacity: 1;
  transform: translateX(0);
}

.leftBarAnimation-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}
.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Создает 4 столбца с равной шириной в одной строке */
  
}

@media (max-width:426px){
  .cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Создает 4 столбца с равной шириной в одной строке */
    
  }
}
/* Добавьте ваши стили для темной темы */
.dark-mode-btn {
  background-color: #000;
  color: #fff;
}

/* Другие стили для темной темы */
