table{
  margin-left: 30px;
  margin-right: 30px;
}

.static-table {

    width: 100%;
    border-collapse: collapse;
  }
  
  .static-table th, .static-table td {

    border: 1px solid #1a1818;
    padding: 8px;
    text-align: left;
  }
  
  .static-table th {
    background-color: #000000;
    
  }
  
.htag{
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 24px;
  text-align: center;
color:red;
  }
  .htag2{
    font-size: 26px;
  text-align: center;
  }
  .htag3{
    font-size: 24px;

  }
  .blockUpp{
    font-size: 18px;
    background-color: black;
    color:white
  }
  .blockU{
    font-size: 18px;
    background-color: rgb(6, 4, 138);
    color:white;
  }
  .blockP{
padding:10px;
font-size: 18px;
  }
  .mainWords{
    font-size:17px;
    align-items: center;
    display:flex;
    margin:20px;
    font-weight: bold;

  }
  .icon-with-text {
    margin-right: 10px;
  }
  .mH{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
  }
  .container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
.seconWord{
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
.words2{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}
.words33{
  margin-top: 50px;
}
.words3{

  margin-left: 30px;
  
color:red;
  font-size: 22px;
}
.words4{
  margin-top: 200px;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}
.mVideo{
  margin-top: 30px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.my-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-bottom: 30px;
}

.my-button:hover {
  background-color: blue;
  transform: scale(1.1);
}
.Tword{
  font-size: 18px;
  margin-top: 30px;
}
.Wwords{
font-size: 20px;
margin-top: 30px;
}
.tW{
  margin-left: 30px;
}
@media(max-width:426px){
  table{
    width:40px
  }
}